.favorite-item-container {
  max-width:100%;
  display: flex;
  align-items: center;
  margin-bottom: 0.9375rem;
  gap:10px;

  p {
    color: var(--grey-900);
  }

}

.favorite-item-image {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 10px;
  object-fit: cover;

  @media (max-width: 480px) {
    width: 80px;
  }
}

.favorite-item-details {
  display: flex;
  flex-direction: column;
  gap: 10px;

  p:nth-child(1) {
    font-weight: 600;
    margin-bottom: 0.3125rem;
  }

  p:nth-child(2) {
    font-weight: 500;
  }
}

.favorite-item-title {
  width: 300px;
  font-size: 0.875rem;
  font-weight: 600;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  overflow: hidden;
  -webkit-box-orient: vertical;

  @media (max-width: 575px) {
    max-width: 220px;
  }

  @media (max-width: 390px) {
    max-width: 180px;
  }
}

.favorite-item-quantity {
  display: flex;
  align-items: center;
  margin-top: 0.625rem;

  p {
    margin-left: 0.625rem;
    margin-right: 0.625rem;
  }

  svg:hover {
    cursor: pointer;
  }
}

.favorite-item-button {
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
  background: transparent;
}
