.favorite-container {
  position: fixed;
  z-index: 6;
  height: 100%;
  width: 100vw;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: flex-end;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;

  p {
    color: var(--grey-900);
  }
}
.favorite-visibility {
  visibility: visible;
  opacity: 1;
}

.favorite-escape-area {
  width: 100%;
}

.favorite-content-title{
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    background-color: var(--blue-900);
    border-radius: 4px;
    width: 40px;
    color: var(--white);
    font-size: 20px;
    cursor: pointer;
  }
}


.favorite-content {
  z-index: 200;
  height: 100%;
  background-color: var(--white);
  padding: 20px;
  overflow-y: scroll;
  position: absolute;
  top: 0;

  @media (max-width: 800px) {
    max-width: 100%;
  }

}

.favorite-title {
  font-size: 1.325rem;
  font-weight: 600;
  margin-bottom: 15px;
}

.favorite-total {
  font-weight: 600;
  font-size: 1.125rem;
  margin-bottom: 15px;
}
