:root {
  --white: #ffffff;
  --black: #000000;
  
  --blue-900: #181D29;

  --green-100:#A3F9B9;
  --green-400: #40B25C;
  --green-600: #1C6C3E;
  
  --transparent: #dededeb3;

  --gray-200:#F2F3F6;
  --grey-300:#E9EBEE;
  --gray-600: #B5B5B6;
  --gray-700: #737375;
  --gray-900: #1C1C1C;

  --pink-100:#FEE5EC;
 --red-500: #DA4B4F;
 --red-600: #C22539;

  --error: #FF6A6A;

  --success: #198754;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
}

html,
body {
  height: 100%;
}
body {
  background: var(--grey-300);
  color: var(--gray-900);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

input,
button,
select {
  border: 0;
}

button,
select {
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}
